<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="io.github.yjchen.vaultpass-ionic" 
        version="0.2.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap = "http://phonegap.com/ns/1.0">
  <name>Vaultpass</name>
  <description>
    A password generator based on your passphrase
  </description>
  <author email="hi@ionicframework" href="http://yjchen.github.io">
    Yen-Ju Chen
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <icon src="img/vaultpass_96.png" width="96" height="96" />
  <icon src="img/vaultpass_192.png" width="192" height="192" />
  <gap:platform name="android" />
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.console" />
  <gap:plugin name="com.verso.cordova.clipboard" />
  <gap:plugin name="com.ionic.keyboard" />
  <gap:plugin name="nl.x-services.plugins.toast" />
  <preference name="permissions" value="none"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
